doctype html
html
	head
	title= "welcome to parched"
	link(rel='stylesheet', href='/stylesheets/style.css')
	body(id= "sources")
		a(href= '/water')
			h1= "Parchd"
		h1= "Water Sources"
			div(id= "place")
					each thing in places
							a(href='/sources/#')
								h2= thing.name
							h3= thing.location
							h6= thing.description
							h1= thing.review
							h5= thing.latitude
							h5= thing.longitude	
							block content